{
    "$schema": "https://json.schemastore.org/eslintrc",

    "parser": "@typescript-eslint/parser",

    "root": true,

    "env": {
 
        "es2022": true,
        "node":   true
    },

    "parserOptions": {

        "ecmaVersion": "latest",
        "sourceType":  "module"
    },

    "extends": [

        "eslint:recommended",

        "plugin:@typescript-eslint/recommended"
    ],

    "plugins": [ "@typescript-eslint" ],

    "rules": {

        "padded-blocks":           "off",
        "object-property-newline": "off",
        "no-case-declarations":    "off",
        "no-multi-spaces":         "off",
        "no-extra-semi":           "off",
        "no-unused-vars":          "off",

        "no-return-await": "error",

        "multiline-ternary":     [ "error", "always" ],
        "array-bracket-spacing": [ "error", "always" ],
        "semi":                  [ "error", "always" ],
        "operator-linebreak":    [ "error", "before" ],

        "no-mixed-operators": [

            "error",

            {
                "groups": [

                    [ "==", "!=", "===", "!==", ">", ">=", "<", "<=" ],
                    [ "&&", "||"                                     ],
                    [ "in", "instanceof"                             ]
                ]
            }
        ],

        "padding-line-between-statements": [

            "error",

            { "blankLine": "always", "prev": "class",    "next": "*" },
            { "blankLine": "always", "prev": "case",     "next": "*" },
            { "blankLine": "always", "prev": "continue", "next": "*" },
            { "blankLine": "always", "prev": "return",   "next": "*" },

            { "blankLine": "always", "prev": "*", "next": "class"    },
            { "blankLine": "always", "prev": "*", "next": "function" },
            { "blankLine": "always", "prev": "*", "next": "switch"   },
            { "blankLine": "always", "prev": "*", "next": "try"      },
            { "blankLine": "always", "prev": "*", "next": "for"      },
            { "blankLine": "always", "prev": "*", "next": "while"    },
            { "blankLine": "always", "prev": "*", "next": "case"     },
            { "blankLine": "always", "prev": "*", "next": "break"    },
            { "blankLine": "always", "prev": "*", "next": "throw"    },
            { "blankLine": "always", "prev": "*", "next": "continue" },
            { "blankLine": "always", "prev": "*", "next": "return"   }
        ],

        "key-spacing": [

            "error",

            { "align": "value", "afterColon": true }
        ],

        "indent": [

            "error", 4,

            {
                "ImportDeclaration":  "first",
                "VariableDeclarator": "first",
                "ArrayExpression":    "first",
                "ObjectExpression":   "first",

                "FunctionDeclaration": { "parameters": "first" },
 
                "SwitchCase":       1,
                "MemberExpression": 1,

                "flatTernaryExpressions": true
            }
        ],

        "@typescript-eslint/no-extra-semi":     "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-explicit-any":   "off",
        "@typescript-eslint/ban-ts-comment":    "off",

        "@typescript-eslint/no-unused-vars": "warn",

        "@typescript-eslint/no-empty-interface": [

            "error",

            { "allowSingleExtends": true }
        ]
    }
}
